@import url('https://fonts.googleapis.com/css2?family=Red+Rose:wght@600&display=swap');

/* Initial Configuration*/
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
 }

 body {
    font-family: 'Red Rose',cursive;
    font-size: 16px;
    line-height: 1.5em;
 }

 /*Nav Design*/
 nav {
     display: flex;
     justify-content: space-around;
     min-height: 7vh;
     background-color: #24254c;
     padding-top: 8px;
     transition: all.5s ease-in-out;
     width: 100%;
    text-align: center;
    padding-left: 10%;
 }

 .logo a {
     color:whitesmoke;
     text-decoration: none;
     font-size: 20px;
 }

 .logo a:hover{
     color: tomato;
 }
 .nav-links{
    display: flex; 
    justify-content: space-evenly;
     width: 50%;
 }

 .nav-links li {
    list-style: none;
    margin-left: 10%;
 }

 .nav-links a {
    color: white;     
    text-decoration: none;
    font-weight: bolder;
}

.nav-links a:hover{
    color: tomato;
}







/*Responsive and mobile view Design*/
.mobile-view{
    display: none;
    cursor: pointer;
}
.mobile-view div{
    width: 25px;
    height: 2px;
    background-color: #fff;
    margin: 5px;
}
@media screen and (max-width:1024px){
   .nav-links{
       width: 60%;
   }
}
@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #24254c;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5 ease-in;
    }
    .nav-links li {
        opacity: 0;
    }
    .mobile-view{
        display: block;
    }
    nav:active{
        transform: translateX(0%);
    }
}

